{
 :aliyun-oss-config {
                     :endpoint "http://oss-cn-shanghai.aliyuncs.com"
                     :accessKeyId ""
                     :accessKeySecret ""
                     :bucketName ""
                     :firstKey "steve-oss-first-key"
                     }
 :aliyun-oss-ram-config {:region "cn-shanghai"
                         :accessKeyId ""
                         :accessKeySecret ""
                         :rolearn "acs:ram::123456789:role/for-ram-steve"
                         :roleSessionName "alice-001"
                         :policy "{\n    \"Version\": \"1\", \n    \"Statement\": [\n        {\n            \"Action\": [\n                \"oss:GetBucket\", \n                \"oss:GetObject\" \n            ], \n            \"Resource\": [\n                \"acs:oss:*:*:*\"\n            ], \n            \"Effect\": \"Allow\"\n        }\n    ]\n}"
                         }
 }
